streamlit
pandas
numpy
scikit-learn
Pillow
plotly
seaborn
matplotlib
fastapi
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
streamlit-option-menu
opencv-python-headless
requests
altair
toml
pickle-mixin
tensorflow
st-pages